@import 'variables/colors';
@import 'variables/fonts';

.top-menu {
  float: left;
  font-family: $lightFont;
  margin-left: 12%;
  width: 72px;
  ul {
    min-height: 150px;
    list-style-type: none;
    padding-top: 20px;
    text-align: center;
    li {
      height: 69px;
      text-align: center;
      a {
        &::before {
          background: -webkit-radial-gradient(right, ellipse cover, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
        }
        span {
          display: block;
          left: 0;
          line-height: 30px;
          height: 30px;
          margin: 0 auto;
          position: relative;
          top: 0;
          width: 40px;
          &.icon {
            font-size: 20px;
            margin-bottom: 5px;
          }
          &.link {
            font-size: 11px;
            left: 0;
            line-height: 13px;
            position: relative;
            top: 0;
            width: 100%;
          }
        }
      }
    }
  }
}
