---
layout: page
---

<div class="row">
  {% for post in site.posts %}
  <a href="{{ post.url }}" class="post card-link col-sm-5">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      {% assign slugTitle = post.title | slugify %}
      {% assign imageSrc = "/assets/images/posts/" | append: slugTitle | append: "-preview.jpg" | append: relative_url %}
      <img class="card-img-top" src="{{ imageSrc }}" alt="Card image cap">

      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.author }}</h6>
        <p class="card-text">{{ post.description }}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>