<div class="profile gm-card">
  <div class="image"></div>
  <div class="anime-text title">
    <span class="text-wrapper">
      <span class="letters">{{ site.title }}</span>
    </span>
  </div>
  <div class="anime-text subtitle subtitle-typed">
    <span class="text-wrapper">
      <span class="letters">{{ site.job }}</span>
    </span>
  </div>
  <div class="social smooth-border">
    {% for social in site.socials %}
      <a target="_blank" href="{{ social.url }}"><span class="fa {{ social.icon }}"></span></a>
    {% endfor %}
  </div>
  <div class="links">
    <a href="{{ "/assets/files/Gonzalo_Melgar_CV.pdf" | relative_url }}" download>
      <span class="text">Download CV</span>
    </a>
  </div>
</div>