<div class="profile gm-card">
  <div class="image"></div>
  <div class="title">{{ site.title }}</div>
  <div class="subtitle subtitle-typed">{{ site.job }}</div>
  <div class="social smooth-border">
    <a target="_blank" href="{{ site.stackoverflow }}"><span class="fa fa-stack-overflow"></span></a>
    <a target="_blank" href="{{ site.linkedin }}"><span class="fa fa-linkedin"></span></a>
    <a target="_blank" href="{{ site.github }}"><span class="fa fa-github"></span></a>
    <a target="_blank" href="{{ site.spotify }}"><span class="fa fa-spotify"></span></a>
    <a target="_blank" href="{{ site.youtube }}"><span class="fa fa-youtube"></span></a>
  </div>
  <div class="links">
    <a href="{{ "/assets/files/Gonzalo_Melgar_CV.pdf" | relative_url }}" download>
      <span class="text">Download CV</span>
    </a>
  </div>
</div>