<div class="resume gm-card content">
  <div class="title smooth-border"><span class="first-word">Resume</span></div>
  <div class="row">
    <div class="col-sm-6 smooth-border-v">
      {% for exp in site.resume.experience %}
      <div class="experience">
        <div class="company">
          <div class="image">
            <img src="{{ exp.imagePath }}" alt="">
          </div>
          <div class="data">
            <span class="name">{{ exp.company }}</span><br>
            <span class="duration">{{ exp.duration }}</span>
          </div>
        </div>
        <div class="roles">
        {% for role in exp.roles %}
          <div class="row role">
            <div class="col-sm-1">
              <span class="node"></span>
            </div>
            <div class="col-sm-10">
              <div class="data">
                <span class="position">
                  {{ role.position }}
                </span><br>
                <span class="period">{{ role.period }}</span><br>
                <span class="period">{{ role.duration }}</span>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      <br>
      {% endfor %}
    </div>
    <div class="col-sm-6">
      {% for edu in site.resume.education %}
        <p>{{ edu.name }}</p>
        <p>({{ edu.period }})</p>
      {% endfor %}
    </div>
  </div>
</div>
