<section class="self-description section-gray">
  <app-section-title
  [title]="'About me'"
  [subtitle]="'About'"></app-section-title>
  <div class="container">
    <p>Hi! I'm Gonza! a software engineer living in Montevideo, Uruguay currently working at <a href="http://tarmac.io/" target="_blank">tarmac</a>.</p>
    <p>I did my degree at the University of the Republic, and I have 7+ years of experience as a developer, learning while I work with great people.</p>
    <p>I really encourage best practices, and I think that there are always new things to learn. </p>
    <p>I'm a Music enthusiast, and I try to make a humble contribution by playing drums. From my personal point of view, I think there's a soundtrack for every moment in life.</p>
    <p>I really enjoy playing videogames, the ocassional boardgame, and going to the movies anytime.</p>
  </div>
  <div class="separator"></div>
</section>
