<router-outlet></router-outlet>
<script src="anime.min.js"></script>
<script>
  // Secret token :D
  console.log("                  /\/\,\,\ ,             ");
  console.log("                 /        ` \'\,         ");
  console.log("                /               '/|_     ");
  console.log("               /                   /     ");
  console.log("              /                   /      ");
  console.log("             /                   ;       ");
  console.log("             ;-\"\"-.  ____       ,      ");
  console.log("            /      )'    `.     '        ");
  console.log("           (    o |        )   ;         ");
  console.log("            ),'\"\"\"\    o   ;  :       ");
  console.log("            ;\___  `._____/ ,-:          ");
  console.log("           ;                 @ )         ");
  console.log("          /                `;-'          ");
  console.log("       ,. `-.______________,|            ");
  console.log("  ,(`._||        \\__\__\__)|            ");
  console.log(" ,`.`-   \        '.        |            ");
  console.log("  `._  ) :          )______,;\_          ");
  console.log("     \\    \_   _,--/       ,   `.       ");
  console.log("      \\     `--\\   :      /      `.    ");
  console.log("       \\        \\  ;     |         \\  ");
  console.log("        `-._____ ;|      |       _,'     ");
  console.log("                \\/'      `-.----' \\    ");
  console.log("                 /          \\      \\   ");
  console.log("              I didn't do it             ");
</script>
