<section class="self-description section-gray">
  <app-section-title
  [title]="'Blog'"
  [subtitle]="'Articles'"></app-section-title>
  <div class="row">
    <div *ngFor="let article of articles" class="col s4">
      <app-blog-card [article]="article"></app-blog-card>
    </div>
  </div>
  <div class="row" *ngIf="showBlogLink">
    <div class="col s12 view-more-col">
      <a class="btn-orange active" [routerLink]="['/blog']">VIEW MORE</a>
    </div>
  </div>
  <div class="separator"></div>
</section>
