@font-face {
  font-family: "AileronThin";
  src: url("../fonts/aileron/aileron.thin.otf");
}

@font-face {
  font-family: "AileronUltralight";
  src: url("../fonts/aileron/aileron.ultralight.otf");
}

@font-face {
  font-family: "AileronLight";
  src: url("../fonts/aileron/aileron.light.otf");
}

@font-face {
  font-family: "AileronRegular";
  src: url("../fonts/aileron/aileron.regular.otf");
}

$normalFont: "Raleway";
$thinFont: "AileronThin";
$ultraLightFont: "AileronUltralight";
$lightFont: "AileronLight";
$regularFont: "AileronRegular";