<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
<head>
  {% include head.html %}
</head>
{% include header.html %}
<body>
  <div class="context">
    <div class="mobile">
      {% include mobile.html %}
    </div>
    <div class="desktop">
      {{ content }}
    </div>
    {% include footer.html %}
  </div>
  <div class="area">
    <ul class="circles">
      <li></li><li></li><li></li>
      <li></li><li></li><li></li>
      <li></li><li></li><li></li>
      <li></li><li></li><li></li>
    </ul>
  </div>
</body>
</html>