---
layout: default
---

{% include navigation.html %}
{% include card-profile.html %}

{% if page.active == "index" %}
  {% include card-about.html %}
{% elsif page.active == "experience" %}
  {% include card-experience.html %}
{% elsif page.active == "blog" %}
  {% include card-blog.html %}
{% elsif page.active == "playlists" %}
  {% include card-playlists.html %}
{% elsif page.active == "blog-item" %}
  {% include card-blog-item.html %}
{% elsif page.active == "contact" %}
  {% include card-contact.html %}
{% endif %}