@import 'variables/colors';
@import 'variables/fonts';

body {
  font-family: $normalFont;
  .context {
    z-index: 1;
    .text-center {
      text-align: center;
    }
  }
  .gm-card {
    background-color: white;
    border-radius: 7px;
    a:not(.inline-link) {
      &.selected {
        color: $primary;
      }
      &:hover {
        color: $primary;
      }
      color: $grayDark;
      display: block;
      font-size: 10px;
      font-weight: 500;
      height: auto;
      padding-top: 2px;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  .uppercase {
    text-transform: uppercase;
  }
  .smooth-border {
    &:before {
      content: '';
      background: radial-gradient(ellipse at right, #dddddd 0%, rgba(255, 255, 255, 0) 90%);
      bottom: 0;
      left: 0;
      height: 1px;
      position: absolute;
      width: 100%;
    }
  }
  .smooth-border-v {
    &:before {
      background: -moz-radial-gradient(top, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
      background: -webkit-radial-gradient(top, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
      background: radial-gradient(ellipse at top, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
      content: '';
      height: 100%;
      right: 0;
      position: absolute;
      top: 0;
      width: 1px;
    }
  }

  .anime-text {
    color: $primary;
    font-size: 4em;
    font-weight: 200;
    position: relative;
    .text-wrapper {
      position: relative;
      display: inline-block;
      padding-top: 0.2em;
      padding-right: 0.05em;
      padding-bottom: 0.1em;
      overflow: hidden;
    }
    .letter {
      transform-origin: 50% 100%;
      display: inline-block;
      line-height: 1em;
    }
  }
}
