@import "~src/assets/sass/colors";

:host {
  .interest-card {
    height: 120px;
    margin-bottom: 30px;
    .interest-card-icon {
      color: $orange;
      float: left;
      font-size: 32px;
      margin-top: -15px;
      padding-left: 10%;
      width: 30%;
    }
    .interest-card-text {
      float: left;
      width: 60%;
      .interest-card-title {
        color: $lightgrey;
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 0;
        text-transform: uppercase;
      }
      .interest-card-desc {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 21.6px;
      }
    }
  }
}
