<ul class="social-icons">
  <li>
    <!-- youtube -->
    <a class="waves-effect waves-light btn-floating social pinterest" href="https://www.youtube.com/user/gmelgaba" target="_blank">
      <i class="fa fa-youtube-play"></i> Sign in with youtube
    </a>
  </li>
  <li>
    <!-- github -->
    <a class="waves-effect waves-light btn-floating social github" href="https://github.com/gmelgaba" target="_blank">
      <i class="fa fa-github"></i> Sign in with github
    </a>
  </li>
  <li>
    <!-- linkedin -->
    <a class="waves-effect waves-light btn-floating social linkedin" href="https://www.linkedin.com/in/gmelgaba/" target="_blank">
      <i class="fa fa-linkedin"></i> Sign in with linkedin
    </a>
  </li>
  <li>
    <!-- pinterest -->
    <a class="waves-effect waves-light btn-floating social pinterest" href="https://www.pinterest.com/gmelgaba/" target="_blank">
      <i class="fa fa-pinterest"></i> Sign in with pinterest
    </a>
  </li>
</ul>
